.auth-page{

min-height:75vh;

display:flex;

align-items:center;

justify-content:center;

}


.auth-card{

width:100%;

max-width:420px;

background:white;

border-radius:18px;

padding:32px;

box-shadow:
0 10px 30px rgba(0,0,0,.06);

}



.auth-header{

text-align:center;

margin-bottom:25px;

}



.auth-header h2{

font-size:26px;

font-weight:700;

color:#4F46E5;

margin-bottom:6px;

}



.auth-header p{

color:#6B7280;

font-size:14px;

}



.form-label{

font-size:14px;

font-weight:500;

}



.form-control{

height:46px;

border-radius:10px;

border:1px solid #E5E7EB;

}



.form-control:focus{

border-color:#4F46E5;

box-shadow:none;

}



.password-wrapper{

position:relative;

}



.password-toggle{

position:absolute;

right:12px;

top:50%;

transform:translateY(-50%);

background:none;

border:none;

color:#6B7280;

}



.auth-btn{

height:46px;

width:100%;

background:#4F46E5;

border:none;

border-radius:10px;

color:white;

font-weight:600;

}



.auth-btn:hover{

background:#4338CA;

}



.auth-footer{

text-align:center;

margin-top:20px;

font-size:14px;

}



.auth-footer a{

color:#4F46E5;

text-decoration:none;

font-weight:600;

}




/* Password helper */


.password-box{

display:none;

margin-top:10px;

font-size:13px;

}


.password-box.active{

display:block;

}



.rule{

color:#9CA3AF;

margin-bottom:3px;

}



.rule.valid{

color:#16A34A;

}



.rule.invalid{

color:#DC2626;

}



.strength{

height:5px;

background:#E5E7EB;

border-radius:10px;

margin-top:10px;

overflow:hidden;

}



.strength-fill{

height:100%;

width:0%;

transition:.3s;

}