{% extends 'base.html' %}

{% block title %}
Login | FashionAI
{% endblock %}


{% block content %}


<div class="auth-page">


<div class="auth-card">


<div class="auth-header">

<h2>
Welcome Back
</h2>

<p>
Login to continue your fashion journey
</p>

</div>



<form method="POST">

{% csrf_token %}



<div class="mb-3">

<label class="form-label">
Username
</label>


<input
type="text"
name="username"
class="form-control"
placeholder="Enter username"
required>


</div>




<div class="mb-4">

<label class="form-label">
Password
</label>


<div class="password-wrapper">


<input
type="password"
name="password"
id="loginPassword"
class="form-control"
placeholder="Enter password"
required>



<button
type="button"
class="password-toggle"
onclick="showPassword()">


<i id="loginEye" class="fa-solid fa-eye"></i>


</button>


</div>


</div>




<button class="auth-btn">

Login

</button>



</form>




<div class="auth-footer">

Don't have an account?

<a href="{% url 'signup' %}">
Create Account
</a>


</div>


</div>


</div>



{% endblock %}




{% block extra_js %}

<script>

function showPassword(){

let pass=document.getElementById("loginPassword");

let icon=document.getElementById("loginEye");


if(pass.type==="password"){

pass.type="text";

icon.classList.replace(
"fa-eye",
"fa-eye-slash"
);

}

else{

pass.type="password";

icon.classList.replace(
"fa-eye-slash",
"fa-eye"
);

}


}


</script>

{% endblock %}