<form method="POST" class="card shadow-lg border-0 rounded-4 p-4 mb-5">

    {% csrf_token %}

    <div class="row g-4">

        <div class="col-lg-3">

            <label class="form-label fw-semibold">
                Occasion
            </label>

            <select
                name="occasion"
                class="form-select">

                <option value="College">College</option>
                <option value="Office">Office</option>
                <option value="Casual">Casual</option>
                <option value="Party">Party</option>
                <option value="Wedding">Wedding</option>

            </select>

        </div>

        <div class="col-lg-3">

            <label class="form-label fw-semibold">
                Weather
            </label>

            <select
                name="weather"
                class="form-select">

                <option value="Sunny">Sunny</option>
                <option value="Cloudy">Cloudy</option>
                <option value="Rainy">Rainy</option>
                <option value="Cold">Cold</option>

            </select>

        </div>

        <div class="col-lg-3">

            <label class="form-label fw-semibold">
                Preferred Style
            </label>

            <select
                name="style"
                class="form-select">

                <option value="">Any Style</option>
                <option>Casual</option>
                <option>Formal</option>
                <option>Streetwear</option>
                <option>Minimal</option>
                <option>Traditional</option>
                <option>Sport</option>
                <option>Vintage</option>

            </select>

        </div>

        <div class="col-lg-3">

            <label class="form-label fw-semibold">
                Preferred Color
            </label>

            <select
                name="color"
                class="form-select">

                <option value="">Any Color</option>

                <option>Black</option>
                <option>White</option>
                <option>Blue</option>
                <option>Grey</option>
                <option>Brown</option>
                <option>Beige</option>
                <option>Green</option>
                <option>Pink</option>
                <option>Purple</option>
                <option>Red</option>

            </select>

        </div>

    </div>

    <div class="text-center mt-4">

        <button class="btn btn-dark btn-lg px-5 rounded-pill">

            Generate Outfit

        </button>

    </div>

</form>