<div class="shopping-section mt-5">


<div class="shopping-header text-center mb-5">

<h3 class="fw-bold">
Complete Your Look
</h3>

<p class="text-muted">
Recommended accessories and fashion pieces to enhance this outfit.
</p>

</div>



<div class="row g-4">



<!-- Shoes -->

<div class="col-lg-4 col-md-6">


<a href="https://www.myntra.com/search?q={{ outfit.search_query }} formal shoes"
target="_blank"
class="shop-card">


<div class="shop-icon">
👞
</div>


<h4>
Footwear
</h4>


<p>
Find shoes matching this outfit.
</p>


<span>
Explore Shoes →
</span>


</a>


</div>





<!-- Accessories -->


<div class="col-lg-4 col-md-6">


<a href="https://www.myntra.com/search?q={{ outfit.search_query }} accessories"
target="_blank"
class="shop-card">


<div class="shop-icon">
⌚
</div>


<h4>
Accessories
</h4>


<p>
Complete your style with accessories.
</p>


<span>
Explore Accessories →
</span>


</a>


</div>






<!-- Bags -->


<div class="col-lg-4 col-md-6">


<a href="https://www.myntra.com/search?q={{ outfit.search_query }} bag"
target="_blank"
class="shop-card">


<div class="shop-icon">
👜
</div>


<h4>
Bags
</h4>


<p>
Choose a bag that matches your look.
</p>


<span>
Explore Bags →
</span>


</a>


</div>





</div>




<hr class="my-5">



<h4 class="text-center mb-4">
Shop This Style
</h4>



<div class="row g-3">



<div class="col-md-4">

<a class="store-card"
href="https://www.myntra.com/search?q={{ outfit.search_query }}"
target="_blank">

Myntra

<br>

<span>
Fashion Collection
</span>

</a>


</div>




<div class="col-md-4">


<a class="store-card"
href="https://www.amazon.in/s?k={{ outfit.search_query }}"
target="_blank">

Amazon

<br>

<span>
More Choices
</span>

</a>


</div>




<div class="col-md-4">


<a class="store-card"
href="https://www.flipkart.com/search?q={{ outfit.search_query }}"
target="_blank">


Flipkart

<br>

<span>
Affordable Options
</span>


</a>


</div>



</div>


</div>